

.u-section-1 {
  background-image: linear-gradient(to right, #1a1a1a, #808080);
}


.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 01px auto;
} 


.u-section-3 {
  background-image: linear-gradient(to right, #1a1a1a, #808080);
}


.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 01px auto;
} 

